{% extends 'blog/base.html' %}
{% block content %}
<p></p>
  {% for product in products %}
    <form class="" action="{% url 'cart:add_to_cart' product.id %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-9">
            <h2>{{ product.title }}</h2>
        </div>
        <div class="col-3">
          Цена: {{ product.price }} руб.
          <input type="submit" class="btn btn-primary" name="" value="Add to cart">
        </div>
      </div>
    </form>
    <hr>
  {% endfor %}
{% endblock %}
